body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: linear-gradient(to right, #000000, #50b3a2);
    color: white;
    text-align: center;
    padding: 2.5rem 1rem;
    animation: fadeIn 2s;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header .menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

header .menu a {
    color: white;
    text-decoration: none;
}

.logo-header {
    background-color: #333;
    padding: 1rem 0;
    text-align: center;
}

.logo-link {
    text-decoration: none;
}

.logo {
    max-width: 250px;
    width: 250px;
    height: 180px;
    transition: transform 0.5s ease, filter 0.5s ease;
    display: flex;
}

.logo:hover {
    transform: scale(1.2) rotate(10deg);
    filter: brightness(1.2);
}

.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown li a {
    color: black;
    padding: 8px 16px;
    display: block;
}

.menu li:hover .dropdown {
    display: block;
}

.intro {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    text-align: center;
}

.left-photo {
    max-width: 150px;
    border-radius: 8px;
}

.services {
    padding: 2rem;
    background: #decffcc7;
}

.service-box {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
}

.service {
    background: rgb(239, 250, 255);
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    flex: 1 1 calc(100% - 2rem);
    max-width: 300px;
}

footer {
    background: linear-gradient(to right, #ff8f8f, #fd5000);
    color: white;
    text-align: center;
    padding: 1.5rem 1rem;
    margin-top: 2rem;
}

footer h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

footer p {
    margin: 5px 0;
    font-size: 1rem;
}

/* Estilos responsivos para pantallas móviles */
@media (max-width: 768px) {
    header nav {
        flex-direction: column;
    }

    header .menu {
        flex-direction: column;
        gap: 0.5rem;
    }

    .intro {
        flex-direction: column;
        text-align: center;
    }

    .service-box {
        flex-direction: column;
    }

    .service {
        max-width: 100%;
    }
}