/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
}
.logo-header{
    background-color: #333;
    padding: 1rem 0;
    text-align: center;
}
.logo-link{
    text-decoration: none;
}
.logo{
    max-width: 250px;
    width: 250px;
    height: 180px;
    transition: transform 0.5s ease, filter 0.5s ease;
    display: flex;
}
.logo:hover {
    transform: scale(1.2) rotate(10deg);
    filter: brightness(1.2);
     
}

/* Encabezado */
header {
    background: linear-gradient(to right, #000000, #50b3a2);
    color: white;
    text-align: center;
    padding: 2.5rem 1rem;
    animation: fadeIn 2s;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Sección Servicios */
#servicios {
    padding: 2rem;
    text-align: center;
}

#servicios h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #4e54c8;
    animation: slideIn 1s;
}

.servicio {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    background: decffcc7);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1.5s;
}

.servicio img {
    max-width: 200px;
    border-radius: 10px;
    margin-right: 20px;
}

.servicio div {
    text-align: left;
}

.servicio h3 {
    font-size: 1.5rem;
    color: #333;
}

.servicio p {
    font-size: 1rem;
    color: #555;
}

/* Footer */
footer {
    background: linear-gradient(to right, #ff8f8f, #fd5000);
    color: white;
    text-align: center;
    padding: 1.5rem 1rem;
    margin-top: 2rem;
}

footer h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

footer p {
    margin: 5px 0;
    font-size: 1rem;
}

/* Animaciones */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}