/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
}

/* Encabezado */
header {
    background: linear-gradient(to right, #000000, #50b3a2);
    color: white;
    text-align: center;
    padding: 2.5rem 1rem;
    animation: fadeIn 2s;
}

.logo-header {
    background-color: #333;
    padding: 1rem 0;
    text-align: center;
}

.logo-link {
    text-decoration: none;
}

.logo {
    max-width: 250px;
    width: 250px;
    height: 180px;
    transition: transform 0.5s ease, filter 0.5s ease;
    display: flex;
}

.logo:hover {
    transform: scale(1.2) rotate(10deg);
    filter: brightness(1.2);
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Sección Servicios */
#servicios {
    padding: 2rem;
    text-align: center;
}

#servicios h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #0066cc;
    animation: slideIn 1s;
}

.servicio {
    display: flex;
    flex-wrap: wrap; /* Asegura que se adapte a pantallas pequeñas */
    align-items: center;
    margin-bottom: 2rem;
    background: #decffcc7;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1.5s;
}

.servicio img {
    max-width: 100%; /* Asegura que la imagen se ajuste al contenedor */
    border-radius: 10px;
    margin: 0 auto 20px; /* Centra la imagen en móviles */
}

.servicio div {
    text-align: center; /* Centra el texto en móviles */
    width: 100%;
}

.servicio h3 {
    font-size: 1.5rem;
    color: #333;
}

.servicio p {
    font-size: 1rem;
    color: #555;
}

/* Footer */
footer {
    background: linear-gradient(to right, #ff8f8f, #fd5000);
    color: white;
    text-align: center;
    padding: 1.5rem 1rem;
    margin-top: 2rem;
}

footer h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

footer p {
    margin: 5px 0;
    font-size: 1rem;
}

/* Animaciones */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Responsividad */
@media (max-width: 768px) {
    header {
        padding: 1.5rem 1rem;
    }

    header h1 {
        font-size: 2rem; /* Reduce el tamaño del título */
    }

    header p {
        font-size: 1rem;
    }

    #servicios {
        padding: 1.5rem;
    }

    .servicio {
        flex-direction: column; /* Cambia a diseño vertical en móviles */
        text-align: center; /* Centra el contenido */
    }

    .servicio img {
        margin-bottom: 1rem; /* Espaciado inferior para la imagen */
    }

    footer {
        padding: 1rem;
    }

    footer h3 {
        font-size: 1.2rem;
    }

    footer p {
        font-size: 0.9rem;
    }
}