        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background: linear-gradient(to right, #000000, #50b3a2);
            color: white;
            text-align: center;
            padding: 2.5rem 1rem;
            animation: fadeIn 2s;
        }
        .logo-header{
            background-color: #333;
            padding: 1rem 0;
            text-align: center;
        }
        .logo-link{
            text-decoration: none;
        }
        .logo{
            max-width: 250px;
            width: 250px;
            height: 180px;
            transition: transform 0.5s ease, filter 0.5s ease;
            display: flex;
        }
        .logo:hover {
            transform: scale(1.2) rotate(10deg);
            filter: brightness(1.2);
             
        }

        .container {
            display: grid;
            grid-template-columns: repeat(4, 1fr); /* 4 columnas */
            gap: 20px;
            padding: 20px;
        }

        .servicio {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 20px;
            text-align: center;
        }

        .servicio h2 {
            font-size: 1.5em;
            color: #333;
        }

        .contenido {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .contenido img {
            max-width: 100%;
            border-radius: 5px;
        }

        .descripcion h3 {
            font-size: 1.2em;
            color: #555;
            margin: 10px 0;
        }

       
footer {
    background: linear-gradient(to right, #ff8f8f, #fd5000);
    color: white;
    text-align: center;
    padding: 1.5rem 1rem;
    margin-top: 2rem;
}

footer h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

footer p {
    margin: 5px 0;
    font-size: 1rem;
}

        /* Estilos de la sección de soporte */
.soporte {
    padding: 40px 20px;
    background-color: #decffcc7;
}

.instituciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.institucion {
    width: 200px;
    text-align: center;
    margin: 10px;
}

.institucion img {
    width: 70%;
    max-width: 120px;
    border-radius: 5px;
}

/* Animaciones y transiciones */
.servicio, .soporte {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.servicio:nth-child(odd), .soporte:nth-child(odd) {
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Responsividad */
@media (max-width: 768px) {
    .contenido {
        flex-direction: column;
        align-items: center;
    }

    .instituciones {
        flex-direction: column;
        align-items: center;
    }

    .institucion {
        width: 80%;
    }
}
    